{% extends "blog/base.html" %}
{% block content %}
<h3 style="margin-left:2rem">Developed By</h3>
<div class="team-members">
  <div class="member">
    <img src="/media/profile_pics/RohitProfilePic.jpg"  width="300px" height="300px" style="border-radius: 8px 8px 0px 0px;">
    <p class="member-details" style="font-size: x-large; font-weight: 500;">Rohit</p>
    <p class="member-details">Backend Developer</p>
  </div>
  <div class="member">
    <img src="/media/profile_pics/avatar.jpg" width="300px" height="300px" style="border-radius: 8px 8px 0px 0px;">
    <p class="member-details" style="font-size: x-large; font-weight: 500;">Manveer</p>
    <p class="member-details">Machine Learning Enginner</p>
  </div>
</div>
{% endblock content %}