{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        {% for followed in user.following.all %}
            {% if followed.id == post.author.profile.id %}
                <article class="content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" >
                            <a class="mr-2" style="color: aliceblue;" href="{% url 'profile-page' post.author.id %}">{{ post.author }}</a>
                            <small class="text-muted">{{ post.date_posted }}</small>
                        </div>
                        {% if post.image %}
                            <img class="article-image" src="{{ post.image.url }}" alt="no image">
                        {% endif %}
                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                        <form action="{% url 'like_post' post.pk %}" method="POST" style="display: inline-block;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary bt-sm mt-1" name="post_id" value="{{ post.id }}">Like</button>
                        </form>
                        <a class="btn btn-info bt-sm mt-1" href="{% url 'comment-create' post.pk %}">Comment</a>
                    </div>
                    <div class="tags">
                        <p>{{ post.likes.count }} likes</p>
                        <p>{{ post.comments.count }} comments</p>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock content %}
