{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        {% for followed in user.following.all %}
            {% if followed.id == post.author.profile.id %}
                <article class="content-section home-content">
                    <div class="media-body">
                        <div class="article-metadata">
                            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" >
                            <a class="mr-2" style="color: aliceblue;" href="{% url 'profile-page' post.author.profile.id %}">{{ post.author }}</a>
                            <small class="text-muted">{{ post.date_posted }}</small>
                        </div>
                        {% if post.image %}
                            <img class="article-image" src="{{ post.image.url }}" alt="no image">
                        {% endif %}
                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                        
                            <form action="{% url 'like_post' post.pk %}" method="POST" style="display: inline-block;" class="like-form" id="{{ post.id }}">
                                {% csrf_token %}
                                <button type="submit" class=" like_button like-btn{{ post.id }}" name="post_id" value="{{ post.id }}">
                                    {% if post.id in lst %}
                                        <i class='fas fa-heart' style='font-size:30px;color:red'></i>
                                    {% else %}
                                        <i class='far fa-heart' style='font-size:30px;color:red'></i>
                                    {% endif %}
                                </button>
                            </form>                      
                        <a class=" comment_button" href="{% url 'comment-create' post.pk %}">
                            <i class='fas fa-comment' style='font-size:30px;color:rgb(0, 204, 255)'></i>
                        </a>
                    </div>
                    <div class="tags">
                        <p class="like-count{{ post.id }}">{{ post.likes.count }} likes</p>
                        <p>{{ post.comments.count }} comments</p>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <a href="{% url 'suggestions' %}" class="btn btn-info">Follow More</a>
{% endblock content %}

{% block scripts %} 
    <script>
        $(document).ready(function(){
            $('.like-form').submit(function(e){
                e.preventDefault()
                const post_id = $(this).attr('id')
                const url = $(this).attr('action')
                let res;
                const likes = $(`.like-count${post_id}`).text()
                const trimCount = parseInt(likes)
                const likeText = $(`.like-btn${post_id}`).find("i").hasClass("fas") ? "Liked":"Like"
                trim = $.trim(likeText)
                if(trim == 'Liked') {
                    $(`.like-btn${post_id}`).html('<i class="far fa-heart" style="font-size:30px;color:red"></i>')
                    res = trimCount - 1
                } else {
                    $(`.like-btn${post_id}`).html('<i class="fas fa-heart" style="font-size:30px;color:red"></i>')
                    res = trimCount + 1
                }
                $(`.like-count${post_id}`).text(res+' likes')
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'post_id': post_id,
                    },
                    success: function(response) {
                       console.log('success')
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
            })
        });
    </script>
{% endblock scripts %}
