{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="content-section">
            <div class="media-body">
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" >
                <a class="mr-2" style="color: aliceblue;" href="{% url 'profile-page' post.author.id %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            {% if post.image %}
                <img class="article-image" src="{{ post.image.url }}" alt="no image">
            {% endif %}
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            <a class="btn btn-info bt-sm mt-1" href="{% url 'comment-create' post.pk %}">Comment</a>
            <a class="btn btn-primary bt-sm mt-1" id = "{{ post.id }}" href="{% url 'like-create' post.pk %}">Like</a>
            </div>
            <p>{{ post.likes.count }} likes and {{ post.comments.count }} comments</p>
        </article>
    {% endfor %}
{% endblock content %}