{% extends "blog/base.html" %}
{% block content %}
    <article class="content-section">
        <div class="media-body">
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" >
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
        </div>
        {% if object.image %}
            <img class="article-image" src="{{ object.image.url }}" alt="no image">
        {% endif %}
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        </div>
        {% if object.author == user %}
            <div>
                <a class="btn btn-secondary bt-sm mt-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger bt-sm mt-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
        {% endif %}
    </article>
    {% if not post.comments.all %}
        <a class="btn btn-secondary bt-sm mt-1" href="{% url 'comment-create' object.pk %}">Comment</a>
    {% else %}
        <a class="btn btn-info bt-sm mt-1" href="{% url 'comment-create' object.pk %}">Comment</a>
        <br>
        <hr>
        {% for comment in post.comments.all %}
        <article class="content-section">
            <div class="media-body">
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}" >
                <a class="mr-2" href="#">{{ comment.author }}</a>
                <small class="text-muted">{{ comment.date_posted }}</small>
            </div>
            <p class="article-content">{{ comment.content }}</p> 
            </div> 
            {% if comment.author == user %}
                <div>
                    <a class="btn btn-secondary bt-sm mt-1" href="{% url 'comment-update' comment.post.id comment.id %}">Update</a>
                    <a class="btn btn-danger bt-sm mt-1" href="{% url 'comment-delete' comment.post.id comment.id %}">Delete</a>
                </div>
            {% endif %}
        </article>
        {% endfor %}
    {% endif %}

{% endblock content %}
