{% extends "blog/base.html" %}
{% block content %}
    <article class="content-section">
        <div class="media-body">
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" >
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
        </div>
        {% if object.image %}
            <img class="article-image" src="{{ object.image.url }}" alt="no image">
        {% endif %}
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        </div>
        {% if object.author == user %}
            <div>
                <a class="btn btn-secondary bt-sm mt-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger bt-sm mt-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
        {% endif %}
    </article>
    <form action="{% url 'like_post' post.pk %}" method="POST" style="display: inline-block;" class="like-form" id="{{ post.id }}">
        {% csrf_token %}
        <button type="submit" class="like_button like-btn{{ post.id }}" name="post_id" value="{{ post.id }}">
            {% if liked %}
                <i class='fas fa-heart' style='font-size:30px;color:red'></i> 
            {% else %}
                Like
                <i class='far fa-heart' style='font-size:30px;color:red'></i>
            {% endif %}
        </button>
    </form>     
    {% if not post.comments.all %}
    <a class="comment_button" href="{% url 'comment-create' post.pk %}">
        <i class='fas fa-comment' style='font-size:30px;color:rgb(0, 204, 255)'></i>
    </a>
        <div class="tags">
            <p class="like-count{{ post.id }}">{{ post.likes.count }} likes</p>
            <p>{{ post.comments.count }} comments</p>
        </div>
    {% else %}
    <a class="comment_button" href="{% url 'comment-create' post.pk %}">
        <i class='fas fa-comment' style='font-size:30px;color:rgb(0, 204, 255)'></i>
    </a>
        <div class="tags">
            <p class="like-count{{ post.id }}" >{{ post.likes.count }} likes</p>
            <p>{{ post.comments.count }} comments</p>
        </div>
        <hr style="color: aliceblue;">
        {% for comment in post.comments.all %}
        <article class="content-section">
            <div class="media-body">
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}" >
                <a class="mr-2" href="#">{{ comment.author }}</a>
                <small class="text-muted">{{ comment.date_posted }}</small>
            </div>
            <p class="article-content">{{ comment.content }}</p> 
            </div> 
            {% if comment.author == user %}
                <div>
                    <a class="btn btn-secondary bt-sm mt-1" href="{% url 'comment-update' comment.post.id comment.id %}">Update</a>
                    <a class="btn btn-danger bt-sm mt-1" href="{% url 'comment-delete' comment.post.id comment.id %}">Delete</a>
                </div>
            {% endif %}
        </article>
        {% endfor %}
    {% endif %}

{% endblock content %}

{% block scripts %} 
    <script>
        $(document).ready(function(){
            $('.like-form').submit(function(e){
                e.preventDefault()
                const post_id = $(this).attr('id')
                const url = $(this).attr('action')
                let res;
                const likes = $(`.like-count${post_id}`).text()
                const trimCount = parseInt(likes)
                const likeText = $(`.like-btn${post_id}`).find("i").hasClass("fas") ? "Liked":"Like"
                trim = $.trim(likeText)
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'post_id': post_id,
                    },
                    success: function(response) {
                        if(trim == 'Liked') {
                            $(`.like-btn${post_id}`).html('<i class="far fa-heart" style="font-size:30px;color:red"></i>')
                            res = trimCount - 1
                        } else {
                            $(`.like-btn${post_id}`).html('<i class="fas fa-heart" style="font-size:30px;color:red"></i>')
                            res = trimCount + 1
                        }
                        $(`.like-count${post_id}`).text(res+' likes')
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
            })
        });
    </script>
{% endblock scripts %}