{% extends 'quesans/base_layout.html' %}
{% block content %}
<article class="media content-section" style="margin-top:20px, margin-bottom:50px">
  <img class="rounded-circle article-img" src="{{answer.user.profile.image.url }}" width='50' height='50' >
  <div class="media-body">
    <div class="article-metadata">
      {% if answer.is_anonymous %}
      <small class="text-muted">Anonymous</small>
      {% else %}
      <a class="mr-3" href="{% url 'profile-page' answer.user.id %}">{{answer.user.username}}</a>
      {% endif %}
      <small class="text-muted">{{answer.date}}</small>
    </div>
    <p class="article-content">{{answer.answer_text}}</p>
    Upvotes: <p class="upvote-count{{ answer.id }}">{{answer.upvote.count}}</p>

    <form action="{% url 'quesans:upvote-ans' answer.question.slug %}" method="POST" style="display: inline-block;" class="upvote-form" id="{{ answer.id }}">
        {% csrf_token %}
        <button type="submit" class="btn mt-1 upvote-btn{{ answer.id }}" name="answer_id" value="{{ answer.id }}" style="background-color: transparent;">
        {% if answer in ulst %}
        <i class='fas fa-thumbs-up' style='font-size:24px;color:green'></i>
        {% else %}
        <i class='far fa-thumbs-up' style='font-size:24px;color:green'></i>
        {% endif %}
        </button>
    </form>
    Downvotes: <p class="downvote-count{{answer.id}}">{{answer.downvote.count}}</p>
    <form class="downvote-form" action="{% url 'quesans:downvote-ans' answer.question.slug %}" method="POST" style="display: inline-block;" id="{{answer.id}}">
        {% csrf_token %}
        <button type="submit" class="btn mt-1 downvote-btn{{answer.id}}" name="answer_id" value="{{ answer.id }}" style="background-color: transparent;">
        {% if answer in dlst %}
        <i class='fas fa-thumbs-down' style='font-size:24px;color:red'></i>
        {% else %}
        <i class='far fa-thumbs-down' style='font-size:24px;color:red'></i>
        {% endif %}
        </button>
    </form>
    {% if answer.user == user %}
    <a href="{% url 'quesans:delanswer' answer.pk %}" class="btn btn-info" role="button">Delete</a>
    {% endif %}
  </div>
</article>
<h3>Add Reply to original thread</h3>
        <form method="post" action="">
            {% csrf_token %}
            {{ reply_form.as_p }}
            <button type="submit" name ='reply-done' class="btn btn-primary">Reply</button>
        </form>
        {% with replies.count as total_replies %}
            <h3 class="mt-5">
                {{ total_replies }} Reply{{ total_replies|pluralize }}
            </h3>
        {% endwith %}
        {% if not answer.replies.all %}
            No replies yet
        {% else %}
            {% for reply in answer.get_replies %}
                {% include 'quesans/reply.html' with reply=reply %}
            {% endfor %}
        {% endif %}
{% endblock %}
{% block script %}
<script>
       $(document).ready(function(){
            $('.upvote-form').submit(function(e){
                e.preventDefault()
                //console.log('success')
                const answer_id = $(this).attr('id')
                const url = $(this).attr('action')
                let res;
                const upvotes = $(`.upvote-count${answer_id}`).text()
                const trimCount = parseInt(upvotes)
                //console.log(trimCount)
                const upvoteText = $(`.upvote-btn${answer_id}`).find("i").hasClass("fas") ? "Upvoted":"Upvote"
                //console.log(upvoteText)
                trim = $.trim(upvoteText)
                //console.log(trim)
                if(trim == 'Upvoted') {
                   $(`.upvote-btn${answer_id}`).html("<i class='far fa-thumbs-up' style='font-size:24px;color:green'></i>")
                   res = trimCount - 1
                 } else {
                    $(`.upvote-btn${answer_id}`).html("<i class='fas fa-thumbs-up' style='font-size:24px;color:green'></i>")
                    res = trimCount + 1
                }
                 $(`.upvote-count${answer_id}`).text(res)
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'answer_id': answer_id,
                    },
                    success: function(response) {
                       console.log('success')
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
            })
          $('.downvote-form').submit(function(e){
            e.preventDefault()
            const answer_id = $(this).attr('id')
            const url = $(this).attr('action')
            let res
            const downvotes = $(`.downvote-count${answer_id}`).text()
            const trimCount = parseInt(downvotes)
            //console.log(trimCount)
            const downvoteText = $(`.downvote-btn${answer_id}`).find("i").hasClass("fas") ? "Downvoted":"Downvote"
            //console.log(upvoteText)
            trim = $.trim(downvoteText)
            //console.log(trim)
            if(trim == 'Downvoted') {
               $(`.downvote-btn${answer_id}`).html("<i class='far fa-thumbs-down' style='font-size:24px;color:red'></i>")
               res = trimCount - 1
             } else {
                $(`.downvote-btn${answer_id}`).html("<i class='fas fa-thumbs-down' style='font-size:24px;color:red'></i>")
                res = trimCount + 1
            }
             $(`.downvote-count${answer_id}`).text(res)
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'answer_id': answer_id,
                },
                success: function(response) {
                   console.log('success')
                },
                error: function(response) {
                    console.log('error', response)
                }
            })
          })
        });
</script>
{% endblock %}
