{% extends 'quesans/base_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
{{form.media}}
  <div class="content-section">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Answer Question</legend>
        {{form|crispy}}
      </fieldset>
      <div class="form-group">
        <button type="btn btn-outline-info" type="submit">Post</button>
      </div>
    </form>
  </div>
{% endblock %}
