{% extends 'quesans/base_layout.html' %}
{% block content %}
<article class="media content-section" style="margin-top:20px, margin-bottom:50px">
  <div class="ans-vote" style="display: flex; flex-direction: column;">
    <img class="rounded-circle article-img" src="{{answer.user.profile.image.url }}" width='50' height='50'>
    <!-- Upvotes: <p class="upvote-count{{ answer.id }}">{{answer.upvote.count}}</p> -->
    <form action="{% url 'quesans:upvote-ans' question.slug %}" method="POST" style="display: inline-block;" class="upvote-form" id="{{ answer.id }}">
        {% csrf_token %}
        <button type="submit" class="btn mt-1 upvote-btn{{ answer.id }}" name="answer_id" value="{{ answer.id }}" style="background-color: transparent;">
        {% if answer in ulst %}
        <i class='fas fa-thumbs-up' style='font-size:24px;color:green'></i>
        {% else %}
        <i class='far fa-thumbs-up' style='font-size:24px;color:green'></i>
        {% endif %}
        </button>
    </form>
    <h5 class="ans-vote-count{{answer.id}}" style="margin-left: 16px;">{{answer.upvote.count|sub:answer.downvote.count}}</h5>
    <!-- Downvotes: <p class="downvote-count{{answer.id}}">{{answer.downvote.count}}</p> -->
    <form class="downvote-form" action="{% url 'quesans:downvote-ans' question.slug %}" method="POST" style="display: inline-block;" id="{{answer.id}}">
        {% csrf_token %}
        <button type="submit" class="btn mt-1 downvote-btn{{answer.id}}" name="answer_id" value="{{ answer.id }}" style="background-color: transparent;">
        {% if answer in dlst %}
        <i class='fas fa-thumbs-down' style='font-size:24px;color:red'></i>
        {% else %}
        <i class='far fa-thumbs-down' style='font-size:24px;color:red'></i>
        {% endif %}
        </button>
    </form>
  </div>
  <div class="media-body">
    <div class="article-metadata">
      {% if answer.is_anonymous %}
      <small class="text-muted">Anonymous</small>
      {% else %}
      <a class="mr-3" href="{% url 'profile-page' answer.user.id %}">{{answer.user.username}}</a>
      {% endif %}
      <small class="text-muted">{{answer.date}}</small>
    </div>
    {% if answer.image %}
    <img src="{{answer.image.url}}" >
    {% endif %}
    <div class="article-content">{{answer.answer_text|safe}}</div>
    {% if answer.user == user %}
    <a href="{% url 'quesans:delanswer' answer.pk %}" class="btn" role="button" style="background-color: transparent;" data-toggle="popover" data-trigger="hover" data-content="Delete question"><i class='fas fa-trash-alt' style='font-size:24px;color:red'></i></a>
    {% endif %}
  </div>
</article>
<h3>Add Reply to original thread</h3>
        <form method="post" action="">
            {% csrf_token %}
            {{ reply_form.as_p }}
            <button type="submit" name ='reply-done' class="btn btn-primary">Reply</button>
        </form>
        {% with replies.count as total_replies %}
            <h3 class="mt-5">
                {{ total_replies }} Reply{{ total_replies|pluralize }}
            </h3>
        {% endwith %}
        {% if not answer.replies.all %}
            No replies yet
        {% else %}
        <div class="reply-thread">
          {% for reply in answer.get_replies %}
              {% include 'quesans/reply.html' with reply=reply %}
          {% endfor %}
        </div>
        {% endif %}
{% endblock %}
{% block script %}
<script>
       $(document).ready(function(){
         $('.upvote-form').submit(function(e){
             e.preventDefault()
             //console.log('success')
             const answer_id = $(this).attr('id')
             const url = $(this).attr('action')
             let res;
             const votes = $(`.ans-vote-count${answer_id}`).text()
             const trimCount = parseInt(votes)
             //console.log(trimCount)
             const upvoteText = $(`.upvote-btn${answer_id}`).find("i").hasClass("fas") ? "Upvoted":"Upvote"
             //console.log(upvoteText)
             const downvoteText = $(`.downvote-btn${answer_id}`).find("i").hasClass("fas") ? "Downvoted":"Downvote"
             //console.log(upvoteText)
             trimdown = $.trim(downvoteText)
             trimup = $.trim(upvoteText)
             if(trimup == 'Upvoted') {
                $(`.upvote-btn${answer_id}`).html("<i class='far fa-thumbs-up' style='font-size:24px;color:green'></i>")
                res = trimCount - 1
              } else if(trimdown == 'Downvoted'){
                $(`.downvote-btn${answer_id}`).html("<i class='far fa-thumbs-down' style='font-size:24px;color:red'></i>")
                $(`.upvote-btn${answer_id}`).html("<i class='fas fa-thumbs-up' style='font-size:24px;color:green'></i>")
                res = trimCount + 2
              }
               else {
                 $(`.upvote-btn${answer_id}`).html("<i class='fas fa-thumbs-up' style='font-size:24px;color:green'></i>")
                 res = trimCount + 1
             }
              $(`.ans-vote-count${answer_id}`).text(res)
             $.ajax({
                 type: 'POST',
                 url: url,
                 data: {
                     'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                     'answer_id': answer_id,
                 },
                 success: function(response) {
                    console.log('success')
                 },
                 error: function(response) {
                     console.log('error', response)
                 }
             })
         });
       $('.downvote-form').submit(function(e){
         e.preventDefault()
         const answer_id = $(this).attr('id')
         const url = $(this).attr('action')
         let res
         const votes = $(`.ans-vote-count${answer_id}`).text()
         const trimCount = parseInt(votes)
         //console.log(trimCount)
         const upvoteText = $(`.upvote-btn${answer_id}`).find("i").hasClass("fas") ? "Upvoted":"Upvote"
         //console.log(upvoteText)
         trimup = $.trim(upvoteText)
         const downvoteText = $(`.downvote-btn${answer_id}`).find("i").hasClass("fas") ? "Downvoted":"Downvote"
         trimdown = $.trim(downvoteText)
         if(trimdown == 'Downvoted') {
            $(`.downvote-btn${answer_id}`).html("<i class='far fa-thumbs-down' style='font-size:24px;color:red'></i>")
            res = trimCount + 1
          } else if(trimup == 'Upvoted'){
            $(`.upvote-btn${answer_id}`).html("<i class='far fa-thumbs-up' style='font-size:24px;color:green'></i>")
            $(`.downvote-btn${answer_id}`).html("<i class='fas fa-thumbs-down' style='font-size:24px;color:red'></i>")
            res = trimCount - 2
          }
          else {
             $(`.downvote-btn${answer_id}`).html("<i class='fas fa-thumbs-down' style='font-size:24px;color:red'></i>")
             res = trimCount - 1
         }
          $(`.ans-vote-count${answer_id}`).text(res)
         $.ajax({
             type: 'POST',
             url: url,
             data: {
                 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                 'answer_id': answer_id,
             },
             success: function(response) {
                console.log('success')
             },
             error: function(response) {
                 console.log('error', response)
             }
          })
         });
        });
</script>
{% endblock %}
