{% extends 'quesans/base_layout.html' %}
{% block content %}
<h3 class="display-4">Question/Answer Forum</h3>
    {% for question in questions %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{question.author.profile.image.url }}" width='50' height='50' >
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile-page' question.author.id %}">{{question.author}}</a>
            <small class="text-muted">{{question.created_on}}</small>
        </div>
        <h2><a class="article-title" href="{% url 'quesans:qthread' question.slug %}">{{ question.title }}</a></h2>
        <p class="article-content">{{ question.snippet }}</p>
        </div>
        {% if question.answered %}
        <span class="badge badge-danger">Closed</span>
        {% else %}
        <span class="badge badge-success">Open</span>
        {% endif %}
    </article>
    {% endfor %}
{% endblock %}
