{% extends 'quesans/base_layout.html' %}
{% block content %}
    {% for question in questions %}
    <article class="media content-section" style="margin-top:50px">
        <img class="rounded-circle article-img" src="{{question.author.profile.image.url }}" width='50' height='50' >
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile-page' question.author.id %}">{{question.author}}</a>
            <small class="text-muted">{{question.created_on}}</small>
        </div>
        <h2><a class="article-title" href="{% url 'quesans:qthread' question.slug %}">{{ question.title }}</a></h2>
        <p class="article-content">{{ question.snippet }}</p>
        {% if question.answered %}
        <span class="badge badge-danger">Closed</span>
        {% else %}
        <span class="badge badge-success">Open</span>
        {% endif %}
        {% if question.author == user %}
        <a href="{% url 'quesans:qupdate' question.pk %}" class='btn btn-info' role='button'>Edit</a>
        {% endif %}
        </div>
    </article>
    {% endfor %}
{% endblock %}
