{% extends 'quesans/base_layout.html' %}
{% load mathfilters %}
{% block content %}
<article class="media content-section">
    <div class="ques-vote" style="display: flex; flex-direction: column;">
        <img class="rounded-circle article-img" src="{{question.author.profile.image.url }}" width='50' height='50' >
        <form action="{% url 'quesans:ques-voteup' %}" method="POST" style="display: inline-block;" class="ques-upvote-form" id="{{ question.id }}">
            {% csrf_token %}
            <button type="submit" class="btn mt-1 ques-upvote-btn{{ question.id }}" name="question_id" value="{{ question.id }}" style="background-color: transparent;">
            {% if user in qupvotelst %}
            <i class="fas fa-caret-up upvoted" style="font-size: 28px; margin-left: 5px; margin-top: 10px;color:black"></i>
            {% else %}
            <i class="fas fa-caret-up upvote" style="font-size: 28px; margin-left: 5px; margin-top: 10px;color:grey"></i>
            {% endif %}
            </button>
        </form>
        <h5 class="vote-count{{question.id}}" style="margin-left: 18px;">{{question.qupvote.count|sub:question.qdownvote.count}}</h5>
        <form class="ques-downvote-form" action="{% url 'quesans:ques-votedown' %}" method="POST" style="display: inline-block;" id="{{question.id}}">
            {% csrf_token %}
            <button type="submit" class="btn mt-1 ques-downvote-btn{{question.id}}" name="question_id" value="{{ question.id }}" style="background-color: transparent;">
            {% if user in qdvotelst %}
            <i class="fas fa-caret-down downvoted" style="font-size: 28px; margin-left: 5px;color:black"></i>
            {% else %}
            <i class="fas fa-caret-down downvote" style="font-size: 28px; margin-left: 5px;color:grey"></i>
            {% endif %}
            </button>
        </form>
    </div>
    <div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url 'profile-page' question.author.id %}">{{question.author}}</a>
        <small class="text-muted">{{question.created_on}}</small>
    </div>
    <p><a class="article-title" href="{% url 'quesans:qthread' question.slug %}">{{ question.title }}</a></p>
    {% if question.image %}
    <img src="{{question.image.url}}" >
    {% endif %}
    <div class="question-description">{{ question.desc|safe }}</div>
    </div>
    <form class="bookmark-form" action="{% url 'quesans:ques-bookmark' question.slug %}" method="POST" style="display: inline-block;" id="{{question.id}}">
        {% csrf_token %}
        <button type="submit" class="btn mt-1 bookmark-btn{{question.id}}" name="question_id" value="{{ question.id }}" style="background-color: transparent;" data-toggle="popover" data-trigger="hover" data-content="Bookmark question">
        {% if user in bklst %}
        <i class="fas fa-bookmark bookmarked" style="font-size: 16px; margin-left: 5px;color:black"></i>
        {% else %}
        <i class="far fa-bookmark bookmark" style="font-size: 16px; margin-left: 5px;color:grey"></i>
        {% endif %}
        </button>
    </form>
    {% if question.author == user %}
    <a href="{% url 'quesans:qupdate' question.pk %}" class='btn' role='button' style="background-color: transparent;" data-toggle="popover" data-trigger="hover" data-content="Edit question"><i class='fas fa-edit' style='font-size:16px;color:green'></i></a>
    {% endif %}
    {% if question.answered %}
    <span class="badge badge-danger">Closed</span>
    {% else %}
    <span class="badge badge-success">Open</span>
    {% endif %}
</article>
{% if question.author == user and not question.answered %}
<form action="{% url 'quesans:ques-flag' question.slug %}" method="POST" style="display: inline-block;">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary bt-sm mt-1" name="question_id" value="{{ question.id }}">Close Question</button>
</form>
{% endif %}
<br>
<h2 class="display-4">Answers -</h2>
<br>
{% if not question.answered %}
<a href="{% url 'quesans:postans' question.pk %}" class='btn' role='button' style="background-color: transparent;"><i class='fas fa-pen' style='font-size:24px;color:green' data-toggle="popover" data-trigger="hover" data-content="Add an answer"></i></a>
{% endif %}
{% for answer in answers %}
<article class="media content-section" style="margin-top:20px, margin-bottom:50px">
  <div class="ans-vote" style="display: flex; flex-direction: column;">
    <img class="rounded-circle article-img" src="{{answer.user.profile.image.url }}" width='50' height='50'>
    <!-- Upvotes: <p class="upvote-count{{ answer.id }}">{{answer.upvote.count}}</p> -->
    <form action="{% url 'quesans:upvote-ans' question.slug %}" method="POST" style="display: inline-block;" class="upvote-form" id="{{ answer.id }}">
        {% csrf_token %}
        <button type="submit" class="btn mt-1 upvote-btn{{ answer.id }}" name="answer_id" value="{{ answer.id }}" style="background-color: transparent;">
        {% if answer in ulst %}
        <i class='fas fa-thumbs-up' style='font-size:24px;color:green'></i>
        {% else %}
        <i class='far fa-thumbs-up' style='font-size:24px;color:green'></i>
        {% endif %}
        </button>
    </form>
    <h5 class="ans-vote-count{{answer.id}}" style="margin-left: 16px;">{{answer.upvote.count|sub:answer.downvote.count}}</h5>
    <!-- Downvotes: <p class="downvote-count{{answer.id}}">{{answer.downvote.count}}</p> -->
    <form class="downvote-form" action="{% url 'quesans:downvote-ans' question.slug %}" method="POST" style="display: inline-block;" id="{{answer.id}}">
        {% csrf_token %}
        <button type="submit" class="btn mt-1 downvote-btn{{answer.id}}" name="answer_id" value="{{ answer.id }}" style="background-color: transparent;">
        {% if answer in dlst %}
        <i class='fas fa-thumbs-down' style='font-size:24px;color:red'></i>
        {% else %}
        <i class='far fa-thumbs-down' style='font-size:24px;color:red'></i>
        {% endif %}
        </button>
    </form>
  </div>
  <div class="media-body">
    <div class="article-metadata">
      {% if answer.is_anonymous %}
      <small class="text-muted">Anonymous</small>
      {% else %}
      <a class="mr-3" href="{% url 'profile-page' answer.user.id %}">{{answer.user.username}}</a>
      {% endif %}
      <small class="text-muted">{{answer.date}}</small>
    </div>
    {% if answer.image %}
    <img src="{{answer.image.url}}" >
    {% endif %}
    <div class="article-content">{{answer.answer_text|safe}}</div>
    {% if answer.user == user %}
    <a href="{% url 'quesans:delanswer' answer.pk %}" class="btn" role="button" style="background-color: transparent;" data-toggle="popover" data-trigger="hover" data-content="Delete question"><i class='fas fa-trash-alt' style='font-size:24px;color:red'></i></a>
    {% endif %}
  </div>
</article>
<a href="{% url 'quesans:ans-detail' answer.pk %}">Explore Answer Thread</a>
{% endfor %}
{% endblock %}
{% block script %}
<script>
       $(document).ready(function(){
            $('.upvote-form').submit(function(e){
                e.preventDefault()
                //console.log('success')
                const answer_id = $(this).attr('id')
                const url = $(this).attr('action')
                let res;
                const votes = $(`.ans-vote-count${answer_id}`).text()
                const trimCount = parseInt(votes)
                //console.log(trimCount)
                const upvoteText = $(`.upvote-btn${answer_id}`).find("i").hasClass("fas") ? "Upvoted":"Upvote"
                //console.log(upvoteText)
                const downvoteText = $(`.downvote-btn${answer_id}`).find("i").hasClass("fas") ? "Downvoted":"Downvote"
                //console.log(upvoteText)
                trimdown = $.trim(downvoteText)
                trimup = $.trim(upvoteText)
                if(trimup == 'Upvoted') {
                   $(`.upvote-btn${answer_id}`).html("<i class='far fa-thumbs-up' style='font-size:24px;color:green'></i>")
                   res = trimCount - 1
                 } else if(trimdown == 'Downvoted'){
                   $(`.downvote-btn${answer_id}`).html("<i class='far fa-thumbs-down' style='font-size:24px;color:red'></i>")
                   $(`.upvote-btn${answer_id}`).html("<i class='fas fa-thumbs-up' style='font-size:24px;color:green'></i>")
                   res = trimCount + 2
                 }
                  else {
                    $(`.upvote-btn${answer_id}`).html("<i class='fas fa-thumbs-up' style='font-size:24px;color:green'></i>")
                    res = trimCount + 1
                }
                 $(`.ans-vote-count${answer_id}`).text(res)
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'answer_id': answer_id,
                    },
                    success: function(response) {
                       console.log('success')
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
            });
          $('.downvote-form').submit(function(e){
            e.preventDefault()
            const answer_id = $(this).attr('id')
            const url = $(this).attr('action')
            let res
            const votes = $(`.ans-vote-count${answer_id}`).text()
            const trimCount = parseInt(votes)
            //console.log(trimCount)
            const upvoteText = $(`.upvote-btn${answer_id}`).find("i").hasClass("fas") ? "Upvoted":"Upvote"
            //console.log(upvoteText)
            trimup = $.trim(upvoteText)
            const downvoteText = $(`.downvote-btn${answer_id}`).find("i").hasClass("fas") ? "Downvoted":"Downvote"
            trimdown = $.trim(downvoteText)
            if(trimdown == 'Downvoted') {
               $(`.downvote-btn${answer_id}`).html("<i class='far fa-thumbs-down' style='font-size:24px;color:red'></i>")
               res = trimCount + 1
             } else if(trimup == 'Upvoted'){
               $(`.upvote-btn${answer_id}`).html("<i class='far fa-thumbs-up' style='font-size:24px;color:green'></i>")
               $(`.downvote-btn${answer_id}`).html("<i class='fas fa-thumbs-down' style='font-size:24px;color:red'></i>")
               res = trimCount - 2
             }
             else {
                $(`.downvote-btn${answer_id}`).html("<i class='fas fa-thumbs-down' style='font-size:24px;color:red'></i>")
                res = trimCount - 1
            }
             $(`.ans-vote-count${answer_id}`).text(res)
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'answer_id': answer_id,
                },
                success: function(response) {
                   console.log('success')
                },
                error: function(response) {
                    console.log('error', response)
                }
            })
          });
          $('.ques-upvote-form').submit(function(e){
              e.preventDefault()
              //console.log('success')
              const question_id = $(this).attr('id')
              const url = $(this).attr('action')
              let res;
              const votes = $(`.vote-count${question_id}`).text()
              const trimCount = parseInt(votes)
              //console.log(trimCount)
              const upvoteText = $(`.ques-upvote-btn${question_id}`).find("i").hasClass("upvoted") ? "Upvoted":"Upvote"
              const downvoteText = $(`.ques-downvote-btn${question_id}`).find("i").hasClass("downvoted") ? "Downvoted":"Downvote"
              //console.log(upvoteText)
              trimup = $.trim(upvoteText)
              trimdown = $.trim(downvoteText)
              //console.log(trim)
              if(trimup == 'Upvoted') {
                 $(`.ques-upvote-btn${question_id}`).html('<i class="fas fa-caret-up" style="font-size: 28px; margin-left: 5px; margin-top: 10px;color:grey"></i>')
                 res = trimCount - 1
               } else if(trimdown == 'Downvoted'){
                 $(`.ques-downvote-btn${question_id}`).html('<i class="fas fa-caret-down" style="font-size: 28px; margin-left: 5px; margin-top: 10px;color:grey"></i>')
                 $(`.ques-upvote-btn${question_id}`).html('<i class="fas fa-caret-up" style="font-size: 28px; margin-left: 5px; margin-top: 10px;color:black"></i>')
                 res = trimCount + 2
               }
                else {
                  $(`.ques-upvote-btn${question_id}`).html('<i class="fas fa-caret-up" style="font-size: 28px; margin-left: 5px; margin-top: 10px;color:black"></i>')
                  res = trimCount + 1
              }
               $(`.vote-count${question_id}`).text(res)
              $.ajax({
                  type: 'POST',
                  url: url,
                  data: {
                      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                      'question_id': question_id,
                  },
                  success: function(response) {
                     console.log('success')
                  },
                  error: function(response) {
                      console.log('error', response)
                  }
              })
          })
        $('.ques-downvote-form').submit(function(e){
          e.preventDefault()
          const question_id = $(this).attr('id')
          const url = $(this).attr('action')
          let res
          const votes = $(`.vote-count${question_id}`).text()
          const trimCount = parseInt(votes)
          //console.log(trimCount)
          const upvoteText = $(`.ques-upvote-btn${question_id}`).find("i").hasClass("upvoted") ? "Upvoted":"Upvote"
          const downvoteText = $(`.ques-downvote-btn${question_id}`).find("i").hasClass("downvoted") ? "Downvoted":"Downvote"
          //console.log(upvoteText)
          trimup = $.trim(upvoteText)
          trimdown = $.trim(downvoteText)
          //console.log(trim)
          if(trimdown == 'Downvoted') {
             $(`.ques-downvote-btn${question_id}`).html('<i class="fas fa-caret-down" style="font-size: 28px; margin-left: 5px; margin-top: 10px;color:grey"></i>')
             res = trimCount + 1
           } else if(trimup == 'Upvoted'){
             $(`.ques-upvote-btn${question_id}`).html('<i class="fas fa-caret-up" style="font-size: 28px; margin-left: 5px; margin-top: 10px;color:grey"></i>')
             $(`.ques-downvote-btn${question_id}`).html('<i class="fas fa-caret-down" style="font-size: 28px; margin-left: 5px; margin-top: 10px;color:black"></i>')
             res = trimCount - 2
           }
           else {
              $(`.ques-downvote-btn${question_id}`).html('<i class="fas fa-caret-down" style="font-size: 28px; margin-left: 5px; margin-top: 10px;color:black"></i>')
              res = trimCount - 1
          }
           $(`.vote-count${question_id}`).text(res)
          $.ajax({
              type: 'POST',
              url: url,
              data: {
                  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                  'question_id': question_id,
              },
              success: function(response) {
                 console.log('success')
              },
              error: function(response) {
                  console.log('error', response)
              }
          })
        });
        $('.bookmark-form').submit(function(e){
          e.preventDefault()
          const question_id = $(this).attr('id')
          const url = $(this).attr('action')
          //console.log(trimCount)
          const bookmarkText = $(`.bookmark-btn${question_id}`).find("i").hasClass("bookmarked") ? "Bookmarked":"Bookmark"
          //console.log(upvoteText)
          trimtext = $.trim(bookmarkText)
          //console.log(trimtext)
          if(trimtext == 'Bookmarked') {
             $(`.bookmark-btn${question_id}`).html('<<i class="far fa-bookmark bookmark" style="font-size: 16px; margin-left: 5px;color:grey"></i>')

           }
           else {
              $(`.bookmark-btn${question_id}`).html('<i class="fas fa-bookmark bookmarked" style="font-size: 16px; margin-left: 5px;color:black"></i>')

          }

          $.ajax({
              type: 'POST',
              url: url,
              data: {
                  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                  'question_id': question_id,
              },
              success: function(response) {
                 console.log('success')
              },
              error: function(response) {
                  console.log('error', response)
              }
          })
         });
        });
</script>

{% endblock %}
