<div class="border-0 border-start border-2 ps-2" id="{{reply.id}}">

        <div class="mt-3">
            <strong>{{reply.user.username}}</strong>
            {% if  reply.parent.user.username%} to <strong>{{reply.parent.user.username}}</strong>{% endif %}
            <small class="text-muted">On {{ reply.created.date }}</small>
        </div>
        <div class="border p-2 rounded">
            <p>{{reply.body}}</p>
            <button class="btn btn-primary btn-sm" onclick="handleReply({{reply.id}})">Reply</button>

            <div id="reply-form-container-{{reply.id}}" style="display:none">

                <form method="post" action="{% url 'quesans:reply' %}" class="mt-3">
                    {% csrf_token %}
                    <input type="hidden" name="answer_id" value="{{answer.id}}">
                    <input type="hidden" name="parent" value="{{reply.id}}">
                    <input type="hidden" name="answer_url" value="{% url 'quesans:ans-detail' answer.pk %}">
                    {{reply_form.as_p}}
                    <div>
                        <button type="button" onclick="handleCancel({{reply.id}})" class="btn btn-light border btn-sm">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        {% for reply in reply.get_replies %}
            {% include 'quesans/reply.html' with reply=reply %}
        {% endfor %}
</div>
