{% extends "blog/base.html" %}
{% block content %}
  <div class="content-section" style="text-align: center;">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media" style="text-align: center;">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p> 
            
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
      <p class="btn btn-secondary bt-sm mt-1">{{ user.profile.following.count }} followers</p>
      <p class="btn btn-secondary bt-sm mt-1">{{ user.following.count }} following</p>
      <form action="{% url 'follow' user.profile.pk %}" method="POST" class="mt-1">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary bt-sm" name="profile_id" value="{{ user.profile.id }}">Follow</button>
      </form>
    </div>
  </div>
  <h2>Posts</h2>
  {% for post in posts %}
    {% ifequal user post.author %}
      <article class="content-section">
        <div class="media-body">
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" >
            <a class="mr-2" href="{% url 'profile-page' post.author.id %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        {% if post.image %}
          <img class="article-image" src="{{ post.image.url }}" alt="no image">
        {% endif %}
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endifequal %}       
  {% endfor %}
{% endblock content %}