{% extends "blog/base.html" %}
{% block content %}
  <div class="profile-page">
    <div class="profile-image">
      <img src="{{ object.image.url }}">
    </div>
    <div class="profile-data">
      <h5>{{ object.user.username }}</h5>
      <p> <i class="fas fa-home" style="color: #ffffff; margin-right: 5px;"></i>{{  object.city }}, {{ object.state }}</p>
      <p><i class="fa fa-graduation-cap" style="color: #ffffff; margin-right: 5px;" aria-hidden="true"></i>{{ object.branch }}, {{ object.programme }}</p>
      <i class="fa fa-envelope" style="color: #ffffff; margin-right: 5px;" aria-hidden="true"></i><small>{{ object.user.email }}</small>
      <div style="display: flex; flex-direction: row; justify-content: space-around;" class="mt-3">
        {% if following %}
        <form action="{% url 'follow' object.pk %}" method="POST" class="mt-1">
          {% csrf_token %}
          <button type="submit" class="btn btn-success bt-sm" name="profile_id" value="{{ object.id }}">Following</button>
        </form>
        {% else %}
          {% if requested %}
          <form action="{% url 'follow-request' object.pk %}" method="POST" class="mt-1">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm " name="profile_id" value="{{ object.id }}">Requested</button>
          </form>
          {% else %}
          <form action="{% url 'follow-request' object.pk %}" method="POST" class="mt-1">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary bt-sm" name="profile_id" value="{{ object.id }}">Follow</button>
          </form>
          {% endif %}
        {% endif %}
        <form class="mt-1">
          <button class="btn btn-danger ">Report</button>
        </form>
      </div>

    </div>
    
  </div>
  <!-- <div class="content-section" style="text-align: center;">
    <img class="rounded-circle account-img" src="{{ object.image.url }}">
    <div class="media" style="text-align: center;">
        <div class="media-body">
            <h2 class="account-heading">{{ object.user.username }}</h2>
            <p class="text-secondary">{{ object.user.email }}</p> 
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
      <div style="text-align: center; width: 25%;">
        <p class="mt-0 mb-0">{{ profile.user.posts.count }}</p>
        <p>Posts</p>
      </div>
      <div style="text-align: center; width: 25%;">
        <p class="mt-0 mb-0">{{ profile.following.count }}</p>
        <p>Followers</p>
      </div>
      <div style="text-align: center; width: 25%;">
        <p class="mt-0 mb-0 ">{{ profile.user.following.count }}</p>
       <p>Following</p>
      </div>
    </div>
      {% if following %}
        <form action="{% url 'follow' object.pk %}" method="POST" class="mt-1">
          {% csrf_token %}
          <button type="submit" class="btn btn-success bt-sm" name="profile_id" value="{{ object.id }}">Following</button>
        </form>
      {% else %}
        <form action="{% url 'follow' user.profile.pk %}" method="POST" class="mt-1">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary bt-sm" name="profile_id" value="{{ object.id }}">Follow</button>
        </form>
      {% endif %}
  </div> -->
  <h2>Posts</h2>
  {% for post in posts %}
    {% ifequal profile.user post.author %}
      <article class="content-section">
        <div class="media-body">
        <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" >
            <a class="mr-2" href="{% url 'profile-page' post.author.id %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        {% if post.image %}
          <img class="article-image" src="{{ post.image.url }}" alt="no image">
        {% endif %}
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endifequal %}       
  {% endfor %}
{% endblock content %}