{% extends "blog/base.html" %}
{% block content %}
  <div class="suggestions">
    {% for profile in profiles %}
      <div class="suggestion" style="width: 100%;">
          <img width="100%" height="300vh" style="border-radius: 8px 8px 0px 0px;" src="{{ profile.image.url }}">
          <div class="media" style="text-align: center;">
              <div class="media-body">
                  <p class="member-details" style="font-size: x-large; font-weight: 500;">{{ profile.user.username }}</p>
                  <p class="member-details">{{ profile.user.email }}</p>  
              </div>
          </div>
          <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <p class="btn btn-secondary btn-sm mt-1 ">{{ profile.following.count }} followers</p>
            <p class="btn btn-secondary btn-sm mt-1 ">{{ profile.user.following.count }} following</p>
            <form action="{% url 'follow' profile.pk %}" method="POST" class="mt-1">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm " name="profile_id" value="{{ profile.id }}">Follow</button>
            </form>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}