{% extends "blog/base.html" %}
{% block content %}
  <div class="suggestions">
    {% for profile in profiles %}
        <div class="suggest profile-card">
          <div class="profile-meta suggest-meta">
            <a href="{% url 'profile-page' profile.id %}" style="text-decoration: none; color: blanchedalmond;"><p>{{ profile.user.username }}</p></a>
            <img class="rounded-circle article-img" src="{{ profile.image.url }}">
          </div>
          <div style="display: flex; flex-direction: row; justify-content: space-around;">
            
            <div style="text-align: center; width: 25%;">
              <p class="mt-0 mb-0">{{ profile.following.count }}</p>
              <p>Followers</p>
            </div>
            <div style="text-align: center; width: 25%;">
              <p class="mt-0 mb-0">{{ profile.user.posts.count }}</p>
              <p>Posts</p>
            </div>
            <div style="text-align: center; width: 25%;">
              <p class="mt-0 mb-0 ">{{ profile.user.following.count }}</p>
             <p>Following</p>
            </div>
          </div>
          <div  style="display: flex; flex-direction: row; justify-content: space-around;">
            <form action="{% url 'follow' profile.pk %}" method="POST" class="mt-1 follow-form" id="{{ profile.id }}">
              {% csrf_token %}
              {% if profile.id in lst %}
                <button type="submit" class="btn btn-success btn-sm follow-btn{{ profile.id }}" name="profile_id" value="{{ profile.id }}">Following</button>
              {% else %}
                {% if profile.id in request_lst %} 
                  <button type="submit" class="btn btn-success btn-sm follow-btn{{ profile.id }}" name="profile_id" value="{{ profile.id }}">Requested</button>
                {% else %}
                  <button type="submit" class="btn btn-primary btn-sm follow-btn{{ profile.id }}" name="profile_id" value="{{ profile.id }}">Follow</button>  
                {% endif %}
              {% endif %}
            </form>
            <form class="mt-1">
              <button class="btn btn-danger btn-sm">Report</button>
            </form>
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock content %}
{% block scripts %}
<script>
  $(document).ready(function(){
    $('.follow-form').submit(function(e){
      e.preventDefault()
      const profile_id = $(this).attr('id')
      const url = $(this).attr('action')
      const ftext = $(`.follow-btn${profile_id}`).text()
      //console.log(ftext)
      nftext = $.trim(ftext)
      if(nftext=='Follow') {
        $(`.follow-btn${profile_id}`).removeClass("btn-primary")
        $(`.follow-btn${profile_id}`).addClass("btn-success")
        $(`.follow-btn${profile_id}`).text('Requested')                    
      } else if(nftext=='Requested') {
        $(`.follow-btn${profile_id}`).removeClass("btn-success")
        $(`.follow-btn${profile_id}`).addClass("btn-primary")
        $(`.follow-btn${profile_id}`).text('Follow') 
      } else {
        $(`.follow-btn${profile_id}`).removeClass("btn-success")
        $(`.follow-btn${profile_id}`).addClass("btn-primary")
        $(`.follow-btn${profile_id}`).text('Follow') 
      }
      $.ajax({

              type: 'POST',
              url: url,
              data: {
                  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                  'profile_id': profile_id,
              },
              success: function(response) {
                  console.log('success')
              },
              error: function(response) {
                  console.log('error', response)
              }
          })
    });
  });
</script>
{% endblock scripts%}